<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="UserController" class="test1.UserController">
		<constructor-arg ref="UserService"></constructor-arg>
	</bean>
	<bean id="UserService" class="test1.UserService">
		<property name="userDao" ref="UserDao"></property>
		<property name="passwordEncoder" ref="passwordEncoder"></property>
	</bean>
	<bean id="UserDao" class="test1.UserDao">
	</bean>
	<bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg value="10"></constructor-arg>
	</bean>
</beans>